In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

from sklearn.neural_network import MLPRegressor
from sklearn.neighbors import KNeighborsRegressor

# Previous Labs

In [2]:
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [3]:
cols = []
for colname in customer_df.columns:
    cols.append(colname.lower().replace(' ', '_'))
customer_df.columns = cols

customer_df.rename(columns={'employmentstatus':'employment_status'}, inplace = True)

In [4]:
customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'], errors='coerce')

In [5]:
numerical_df = customer_df.select_dtypes(include = np.number)

In [6]:
def discrete_continuous(df):
    
    discrete_df = pd.DataFrame()
    continuous_df = pd.DataFrame()
    
    for column in df.columns:
        if df[column].nunique() <= 100:
            discrete_df[column] = df[column]
        else:
            continuous_df[column] = df[column]
    
    return discrete_df, continuous_df

In [7]:
discrete_df, continuous_df = discrete_continuous(numerical_df)

In [8]:
def plot(df):
    for column in df.columns:
        if df[column].nunique() <= 100:
            plt.figure(figsize=(20, 6))
            sns.countplot(x=df[column], data=df)
            plt.title(f'Count Plot of {column}')
            plt.xticks(rotation=90)  # Rotate x-axis labels vertically
            plt.show()
        else:
            plt.figure(figsize=(8, 6))
            sns.histplot(x=df[column], bins=20, kde=True)
            plt.title(f'Histogram of {column}')
            plt.xlabel(column)
            plt.ylabel('Frequency')
            plt.show()

In [9]:
continuous_df = continuous_df[(continuous_df['customer_lifetime_value'] <= 65000)] # I have corrected this, in the previous lab, I accidentally removed the outliers of the target.
customer_df = customer_df[(customer_df['customer_lifetime_value'] <= 65000)]
numerical_df = numerical_df[(numerical_df['customer_lifetime_value'] <= 65000)]

In [10]:
numerical_df.to_csv('numerical_230823.csv', index=False)

In [11]:
categorical_df = customer_df.select_dtypes(include = np.object)
categorical_df.drop('customer', axis=1, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_3716\2569495330.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical_df = customer_df.select_dtypes(include = np.object)

In [12]:
substitutions = {
    'Offer1': 'O1',
    'Offer2': 'O2',
    'Offer3': 'O3',
    'Offer4': 'O4'
}

categorical_df['renew_offer_type'] = categorical_df['renew_offer_type'].map(substitutions)

In [13]:
substitutions2 = {
    'Employed': 'Active',
    'Unemployed': 'Inactive',
    'Medical Leave': 'Inactive',
    'Disabled': 'Inactive',
    'Retired': 'Inactive'
}

categorical_df['employment_status'] = categorical_df['employment_status'].map(substitutions2)

In [14]:
substitutions3 = {
    'Bachelor': 'Bachelor',
    'College': 'College',
    'High School or Below': 'High School or Below',
    'Master': 'Higher',
    'Doctor': 'Higher'
}

categorical_df['education'] = categorical_df['education'].map(substitutions3)

In [15]:
substitutions4 = {
    'Four-Door Car': 'Four-Door Car',
    'Two-Door Car': 'Two-Door Car',
    'SUV': 'SUV',
    'Sports Car': 'Sports Car',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
}
categorical_df['vehicle_class'] = categorical_df['vehicle_class'].map(substitutions4)

In [16]:
categorical_df.to_csv('categorical_230821.csv', index=False)

In [17]:
categorical_df = categorical_df.drop(['gender'], axis = 1)

In [18]:
substitutions5 = {
    'Corporate L1': 'Corporate L1',
    'Corporate L2': 'Corporate L2',
    'Corporate L3': 'Corporate L3',
    'Personal L1': 'Personal L1',
    'Personal L2': 'Personal L2',
    'Personal L3': 'Personal L3',
    'Special L1': 'Special',
    'Special L2': 'Special',
    'Special L3': 'Special',    
}
categorical_df['policy'] = categorical_df['policy'].map(substitutions5)

In [19]:
customer_df['month'] = customer_df['effective_to_date'].dt.month
customer_df['day'] = customer_df['effective_to_date'].dt.day

In [20]:
customer_df.drop(['effective_to_date'], axis = 1, inplace = True)

### 0. Concatenate

In [21]:
display(categorical_df.columns)
display(numerical_df.columns)
display(customer_df.columns)

Index(['state', 'response', 'coverage', 'education', 'employment_status',
       'location_code', 'marital_status', 'policy_type', 'policy',
       'renew_offer_type', 'sales_channel', 'vehicle_class', 'vehicle_size'],
      dtype='object')

Index(['customer_lifetime_value', 'income', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies',
       'total_claim_amount'],
      dtype='object')

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'employment_status', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'month', 'day'],
      dtype='object')

In [22]:
temp = customer_df[['month', 'day']]
data = pd.concat([categorical_df, numerical_df, temp], axis=1)
data

,state,response,coverage,education,employment_status,location_code,marital_status,policy_type,policy,renew_offer_type,...,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,month,day
0,Washington,No,Basic,Bachelor,Active,Suburban,Married,Corporate Auto,Corporate L3,O1,...,2763.519279,56274,69,32,5,0,1,384.811147,2,24
1,Arizona,No,Extended,Bachelor,Inactive,Suburban,Single,Personal Auto,Personal L3,O3,...,6979.535903,0,94,13,42,0,8,1131.464935,1,31
2,Nevada,No,Premium,Bachelor,Active,Suburban,Married,Personal Auto,Personal L3,O1,...,12887.431650,48767,108,18,38,0,2,566.472247,2,19
3,California,No,Basic,Bachelor,Inactive,Suburban,Married,Corporate Auto,Corporate L2,O1,...,7645.861827,0,106,18,65,0,7,529.881344,1,20
4,Washington,No,Basic,Bachelor,Active,Rural,Single,Personal Auto,Personal L1,O1,...,2813.692575,43836,73,12,44,0,1,138.130879,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Active,Urban,Married,Personal Auto,Personal L1,O2,...,23405.987980,71941,73,18,89,0,2,198.234764,2,10
9130,California,Yes,Extended,College,Active,Suburban,Divorced,Corporate Auto,Corporate L3,O1,...,3096.511217,21604,79,14,28,0,1,379.200000,2,12
9131,California,No,Extended,Bachelor,Inactive,Suburban,Single,Corporate Auto,Corporate L2,O1,...,8163.890428,0,85,9,37,3,2,790.784983,2,6
9132,California,No,Extended,College,Active,Suburban,Married,Personal Auto,Personal L2,O3,...,7524.442436,21941,96,34,3,0,3,691.200000,2,3
9133,California,No,Extended,College,Inactive,Suburban,Single,Corporate Auto,Corporate L3,O4,...,2611.836866,0,77,3,90,0,1,369.600000,2,14

### 1. In this final lab, we will model our data. Import sklearn train_test_split and separate the data.

In [23]:
X = data.drop(['total_claim_amount'], axis=1)
y = data['total_claim_amount']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### 2. Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

In [24]:
X_train_cat = X_train.select_dtypes(include = np.object)
X_test_cat = X_test.select_dtypes(include = np.object)
X_train_num = X_train.select_dtypes(include = np.number)
X_test_num = X_test.select_dtypes(include = np.number)

display(X_train_cat)
display(X_test_cat)
display(X_train_num)
display(X_test_num)

C:\Users\PC\AppData\Local\Temp\ipykernel_3716\3336544478.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_train_cat = X_train.select_dtypes(include = np.object)
C:\Users\PC\AppData\Local\Temp\ipykernel_3716\3336544478.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_test_cat = X_test.select_dtypes(include = np.object)

,state,response,coverage,education,employment_status,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
4042,Oregon,No,Basic,College,Inactive,Suburban,Single,Special Auto,Special,O4,Web,SUV,Large
7706,California,Yes,Extended,Bachelor,Active,Suburban,Divorced,Personal Auto,Personal L2,O1,Agent,Four-Door Car,Medsize
6227,Arizona,No,Premium,High School or Below,Active,Suburban,Married,Corporate Auto,Corporate L3,O1,Call Center,Four-Door Car,Small
3775,California,Yes,Basic,Bachelor,Active,Suburban,Married,Personal Auto,Personal L3,O2,Call Center,Four-Door Car,Small
2035,Oregon,No,Extended,Bachelor,Active,Suburban,Divorced,Personal Auto,Personal L2,O1,Branch,Four-Door Car,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5737,California,Yes,Extended,High School or Below,Inactive,Suburban,Married,Corporate Auto,Corporate L3,O1,Agent,SUV,Medsize
5192,Oregon,No,Extended,High School or Below,Inactive,Suburban,Married,Personal Auto,Personal L2,O2,Web,Two-Door Car,Medsize
5392,Arizona,Yes,Basic,Bachelor,Active,Urban,Divorced,Personal Auto,Personal L2,O2,Web,Two-Door Car,Medsize
860,Arizona,Yes,Extended,Bachelor,Inactive,Suburban,Divorced,Personal Auto,Personal L3,O1,Call Center,SUV,Medsize
7274,California,No,Basic,Bachelor,Active,Urban,Married,Personal Auto,Personal L2,O2,Agent,Two-Door Car,Medsize

,state,response,coverage,education,employment_status,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
7626,Washington,No,Extended,High School or Below,Inactive,Urban,Married,Personal Auto,Personal L3,O1,Call Center,Two-Door Car,Medsize
6744,Oregon,No,Extended,Bachelor,Inactive,Suburban,Married,Personal Auto,Personal L3,O4,Agent,Four-Door Car,Medsize
2472,Arizona,No,Basic,College,Active,Suburban,Divorced,Personal Auto,Personal L3,O3,Call Center,SUV,Medsize
1780,California,No,Extended,College,Active,Suburban,Single,Special Auto,Special,O4,Web,Four-Door Car,Small
6024,Nevada,No,Extended,High School or Below,Active,Urban,Single,Personal Auto,Personal L2,O3,Call Center,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2885,Washington,No,Basic,Bachelor,Active,Urban,Single,Personal Auto,Personal L2,O4,Branch,Two-Door Car,Medsize
5774,California,No,Extended,High School or Below,Inactive,Suburban,Single,Personal Auto,Personal L3,O1,Agent,Sports Car,Medsize
7092,Oregon,Yes,Basic,Bachelor,Active,Suburban,Single,Special Auto,Special,O1,Call Center,SUV,Medsize
181,Nevada,No,Extended,Bachelor,Active,Suburban,Married,Personal Auto,Personal L3,O3,Branch,Luxury,Medsize
1618,Oregon,No,Basic,Bachelor,Inactive,Suburban,Single,Corporate Auto,Corporate L3,O2,Branch,Four-Door Car,Medsize

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month,day
4042,21159.301510,0,108,15,17,0,2,1,22
7706,3265.156348,25820,82,10,69,0,1,1,26
6227,9165.721087,53792,115,1,8,1,8,1,23
3775,5318.896640,25134,67,3,0,0,6,1,12
2035,7325.892726,52920,93,18,95,0,3,1,2
...,...,...,...,...,...,...,...,...,...
5737,9657.579498,0,131,34,61,0,9,1,31
5192,10377.368420,0,95,1,69,0,2,2,7
5392,5217.513287,39854,66,6,4,0,7,2,17
860,14635.451580,0,139,5,56,0,2,2,27
7274,7748.811000,79528,64,2,39,0,2,1,20

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month,day
7626,9227.945752,0,82,22,62,0,2,2,28
6744,6661.744145,0,95,6,99,0,5,1,7
2472,8012.841201,40635,102,4,45,0,6,2,24
1780,9707.647552,30430,86,6,77,0,2,1,13
6024,6486.111674,87210,81,3,26,0,9,2,15
...,...,...,...,...,...,...,...,...,...
2885,2497.808174,68041,64,10,47,0,1,2,1
5774,13104.149110,0,130,7,31,0,2,2,7
7092,12036.620510,44428,104,17,61,0,2,2,10
181,16936.271470,39411,217,4,29,2,4,1,24
1618,4893.291507,0,73,11,56,0,5,2,14

### 3. Use X_train_num to fit scalers. Transform BOTH X_train_num and X_test_num.

In [25]:
num_transformer = MinMaxScaler().fit(X_train_num)

In [26]:
X_train_num_transformed_array = num_transformer.transform(X_train_num)
X_train_num_treated = pd.DataFrame(X_train_num_transformed_array, columns = X_train_num.columns)

X_test_num_transformed_array = num_transformer.transform(X_test_num)
X_test_num_treated = pd.DataFrame(X_test_num_transformed_array, columns = X_test_num.columns)

display(X_train_num_treated)
display(X_test_num_treated)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month,day
0,0.307096,0.000000,0.199153,0.428571,0.171717,0.0,0.125,0.0,0.700000
1,0.021797,0.258249,0.088983,0.285714,0.696970,0.0,0.000,0.0,0.833333
2,0.115874,0.538022,0.228814,0.028571,0.080808,0.2,0.875,0.0,0.733333
3,0.054542,0.251388,0.025424,0.085714,0.000000,0.0,0.625,0.0,0.366667
4,0.086541,0.529301,0.135593,0.514286,0.959596,0.0,0.250,0.0,0.033333
...,...,...,...,...,...,...,...,...,...
7298,0.123716,0.000000,0.296610,0.971429,0.616162,0.0,1.000,0.0,1.000000
7299,0.135192,0.000000,0.144068,0.028571,0.696970,0.0,0.125,1.0,0.200000
7300,0.052925,0.398616,0.021186,0.171429,0.040404,0.0,0.750,1.0,0.533333
7301,0.203082,0.000000,0.330508,0.142857,0.565657,0.0,0.125,1.0,0.866667
7302,0.093283,0.795431,0.012712,0.057143,0.393939,0.0,0.125,0.0,0.633333

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month,day
0,0.116866,0.000000,0.088983,0.628571,0.626263,0.0,0.125,1.0,0.900000
1,0.075952,0.000000,0.144068,0.171429,1.000000,0.0,0.500,0.0,0.200000
2,0.097493,0.406427,0.173729,0.114286,0.454545,0.0,0.625,1.0,0.766667
3,0.124514,0.304358,0.105932,0.171429,0.777778,0.0,0.125,0.0,0.400000
4,0.073151,0.872266,0.084746,0.085714,0.262626,0.0,1.000,1.0,0.466667
...,...,...,...,...,...,...,...,...,...
1821,0.009563,0.680539,0.012712,0.285714,0.474747,0.0,0.000,1.0,0.000000
1822,0.178667,0.000000,0.292373,0.200000,0.313131,0.0,0.125,1.0,0.200000
1823,0.161647,0.444364,0.182203,0.485714,0.616162,0.0,0.125,1.0,0.300000
1824,0.239765,0.394185,0.661017,0.114286,0.292929,0.4,0.375,0.0,0.766667
1825,0.047756,0.000000,0.050847,0.314286,0.565657,0.0,0.500,1.0,0.433333

### 4. Encode the categorical variables X_train_cat and X_test_cat (See the hint below for encoding categorical data!!!)

##### Hint for Categorical Variables

You should deal with the categorical variables as shown below (for ordinal encoding, dummy code has been provided as well):

Method | Column
-------|-------
One hot | state
Ordinal | coverage
Ordinal | employmentstatus
Ordinal | location code
One hot | marital status
One hot | policy type
One hot | policy
One hot | renew offercustomer_df
One hot | sales channel
One hot | vehicle class
Ordinal | vehicle size
Ordinal | education
One hot | response
One hot | gender


##### Dummy code

data["coverage"] = data["coverage"].map({"Basic" : 0, "Extended" : 1, "Premium" : 2})

In [27]:
X_train_cat_ord = X_train_cat[['coverage', 'employment_status', 'location_code', 'vehicle_size', 'education']]
X_test_cat_ord = X_test_cat[['coverage', 'employment_status', 'location_code', 'vehicle_size', 'education']]

X_train_cat_one = X_train_cat[['state', 'marital_status', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'vehicle_class', 'response']]
X_test_cat_one = X_test_cat[['state', 'marital_status', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'vehicle_class', 'response']]

display(X_train_cat_ord)
display(X_test_cat_ord)
display(X_train_cat_one)
display(X_test_cat_one)

,coverage,employment_status,location_code,vehicle_size,education
4042,Basic,Inactive,Suburban,Large,College
7706,Extended,Active,Suburban,Medsize,Bachelor
6227,Premium,Active,Suburban,Small,High School or Below
3775,Basic,Active,Suburban,Small,Bachelor
2035,Extended,Active,Suburban,Small,Bachelor
...,...,...,...,...,...
5737,Extended,Inactive,Suburban,Medsize,High School or Below
5192,Extended,Inactive,Suburban,Medsize,High School or Below
5392,Basic,Active,Urban,Medsize,Bachelor
860,Extended,Inactive,Suburban,Medsize,Bachelor
7274,Basic,Active,Urban,Medsize,Bachelor

,coverage,employment_status,location_code,vehicle_size,education
7626,Extended,Inactive,Urban,Medsize,High School or Below
6744,Extended,Inactive,Suburban,Medsize,Bachelor
2472,Basic,Active,Suburban,Medsize,College
1780,Extended,Active,Suburban,Small,College
6024,Extended,Active,Urban,Medsize,High School or Below
...,...,...,...,...,...
2885,Basic,Active,Urban,Medsize,Bachelor
5774,Extended,Inactive,Suburban,Medsize,High School or Below
7092,Basic,Active,Suburban,Medsize,Bachelor
181,Extended,Active,Suburban,Medsize,Bachelor
1618,Basic,Inactive,Suburban,Medsize,Bachelor

,state,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,response
4042,Oregon,Single,Special Auto,Special,O4,Web,SUV,No
7706,California,Divorced,Personal Auto,Personal L2,O1,Agent,Four-Door Car,Yes
6227,Arizona,Married,Corporate Auto,Corporate L3,O1,Call Center,Four-Door Car,No
3775,California,Married,Personal Auto,Personal L3,O2,Call Center,Four-Door Car,Yes
2035,Oregon,Divorced,Personal Auto,Personal L2,O1,Branch,Four-Door Car,No
...,...,...,...,...,...,...,...,...
5737,California,Married,Corporate Auto,Corporate L3,O1,Agent,SUV,Yes
5192,Oregon,Married,Personal Auto,Personal L2,O2,Web,Two-Door Car,No
5392,Arizona,Divorced,Personal Auto,Personal L2,O2,Web,Two-Door Car,Yes
860,Arizona,Divorced,Personal Auto,Personal L3,O1,Call Center,SUV,Yes
7274,California,Married,Personal Auto,Personal L2,O2,Agent,Two-Door Car,No

,state,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,response
7626,Washington,Married,Personal Auto,Personal L3,O1,Call Center,Two-Door Car,No
6744,Oregon,Married,Personal Auto,Personal L3,O4,Agent,Four-Door Car,No
2472,Arizona,Divorced,Personal Auto,Personal L3,O3,Call Center,SUV,No
1780,California,Single,Special Auto,Special,O4,Web,Four-Door Car,No
6024,Nevada,Single,Personal Auto,Personal L2,O3,Call Center,Four-Door Car,No
...,...,...,...,...,...,...,...,...
2885,Washington,Single,Personal Auto,Personal L2,O4,Branch,Two-Door Car,No
5774,California,Single,Personal Auto,Personal L3,O1,Agent,Sports Car,No
7092,Oregon,Single,Special Auto,Special,O1,Call Center,SUV,Yes
181,Nevada,Married,Personal Auto,Personal L3,O3,Branch,Luxury,No
1618,Oregon,Single,Corporate Auto,Corporate L3,O2,Branch,Four-Door Car,No

In [28]:
for col in X_train_cat_ord.columns:
    print(X_train_cat[col].unique())

['Basic' 'Extended' 'Premium']
['Inactive' 'Active']
['Suburban' 'Rural' 'Urban']
['Large' 'Medsize' 'Small']
['College' 'Bachelor' 'High School or Below' 'Higher']

In [29]:
X_train_cat_ord["coverage"] = X_train_cat_ord["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})
X_train_cat_ord["employment_status"] = X_train_cat_ord["employment_status"].map({"Inactive" : 0, "Active" : 1})
X_train_cat_ord["location_code"] = X_train_cat_ord["location_code"].map({"Suburban" : 0, "Rural" : 0.5, "Urban" : 1})
X_train_cat_ord["vehicle_size"] = X_train_cat_ord["vehicle_size"].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})
X_train_cat_ord["education"] = X_train_cat_ord["education"].map({"High School or Below" : 0, "College" : 0.34, "Bachelor" : 0.66, "Higher" : 1})

X_test_cat_ord["coverage"] = X_test_cat_ord["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})
X_test_cat_ord["employment_status"] = X_test_cat_ord["employment_status"].map({"Inactive" : 0, "Active" : 1})
X_test_cat_ord["location_code"] = X_test_cat_ord["location_code"].map({"Rural" : 0, "Suburban" : 0.5, "Urban" : 1})
X_test_cat_ord["vehicle_size"] = X_test_cat_ord["vehicle_size"].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})
X_test_cat_ord["education"] = X_test_cat_ord["education"].map({"High School or Below" : 0, "College" : 0.34, "Bachelor" : 0.66, "Higher" : 1})


X_train_cat_ord = X_train_cat_ord.reset_index(drop = True)
X_test_cat_ord = X_test_cat_ord.reset_index(drop = True)


display(X_train_cat_ord)
display(X_test_cat_ord)

C:\Users\PC\AppData\Local\Temp\ipykernel_3716\1048419342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_cat_ord["coverage"] = X_train_cat_ord["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})
C:\Users\PC\AppData\Local\Temp\ipykernel_3716\1048419342.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_cat_ord["employment_status"] = X_train_cat_ord["employment_status"].map({"Inactive" : 0, "Active" : 1})
C:\Users\PC\AppData\Local\Temp\ipykernel_3716\1048419342.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_cat_ord["location_code"] = X_train_cat_ord["location_code"].map({"Suburban" : 0, "Rural" : 0.5, "Urban" : 1})
C:\Users\PC\AppData\Local\Temp\ipykernel_3716\1048419342.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_cat_ord["vehicle_size"] = X_train_cat_ord["vehicle_size"].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})
C:\Users\PC\AppData\Local\Temp\ipykernel_3716\1048419342.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_cat_ord["education"] = X_train_cat_ord["education"].map({"High School or Below" : 0, "College" : 0.34, "Bachelor" : 0.66, "Higher" : 1})
C:\Users\PC\AppData\Local\Temp\ipykernel_3716\1048419342.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_cat_ord["coverage"] = X_test_cat_ord["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})
C:\Users\PC\AppData\Local\Temp\ipykernel_3716\1048419342.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_cat_ord["employment_status"] = X_test_cat_ord["employment_status"].map({"Inactive" : 0, "Active" : 1})
C:\Users\PC\AppData\Local\Temp\ipykernel_3716\1048419342.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_cat_ord["location_code"] = X_test_cat_ord["location_code"].map({"Rural" : 0, "Suburban" : 0.5, "Urban" : 1})
C:\Users\PC\AppData\Local\Temp\ipykernel_3716\1048419342.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_cat_ord["vehicle_size"] = X_test_cat_ord["vehicle_size"].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})
C:\Users\PC\AppData\Local\Temp\ipykernel_3716\1048419342.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_cat_ord["education"] = X_test_cat_ord["education"].map({"High School or Below" : 0, "College" : 0.34, "Bachelor" : 0.66, "Higher" : 1})

      coverage  employment_status  location_code  vehicle_size  education
0          0.0                  0            0.0           1.0       0.34
1          0.5                  1            0.0           0.5       0.66
2          1.0                  1            0.0           0.0       0.00
3          0.0                  1            0.0           0.0       0.66
4          0.5                  1            0.0           0.0       0.66
...        ...                ...            ...           ...        ...
7298       0.5                  0            0.0           0.5       0.00
7299       0.5                  0            0.0           0.5       0.00
7300       0.0                  1            1.0           0.5       0.66
7301       0.5                  0            0.0           0.5       0.66
7302       0.0                  1            1.0           0.5       0.66

[7303 rows x 5 columns]

      coverage  employment_status  location_code  vehicle_size  education
0          0.5                  0            1.0           0.5       0.00
1          0.5                  0            0.5           0.5       0.66
2          0.0                  1            0.5           0.5       0.34
3          0.5                  1            0.5           0.0       0.34
4          0.5                  1            1.0           0.5       0.00
...        ...                ...            ...           ...        ...
1821       0.0                  1            1.0           0.5       0.66
1822       0.5                  0            0.5           0.5       0.00
1823       0.0                  1            0.5           0.5       0.66
1824       0.5                  1            0.5           0.5       0.66
1825       0.0                  0            0.5           0.5       0.66

[1826 rows x 5 columns]

In [30]:
encoder = OneHotEncoder(drop='first').fit(X_train_cat_one)

In [31]:
X_train_cat_one_encoded_array = encoder.transform(X_train_cat_one).toarray()
X_train_cat_one_treated = pd.DataFrame(X_train_cat_one_encoded_array, columns = encoder.get_feature_names_out(input_features = X_train_cat_one.columns ))

X_test_cat_one_encoded_array = encoder.transform(X_test_cat_one).toarray()
X_test_cat_one_treated = pd.DataFrame(X_test_cat_one_encoded_array, columns = encoder.get_feature_names_out(input_features = X_train_cat_one.columns ))

display(X_train_cat_one_treated)
display(X_test_cat_one_treated)

,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_type_Personal Auto,policy_type_Special Auto,policy_Corporate L2,policy_Corporate L3,...,renew_offer_type_O3,renew_offer_type_O4,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,response_Yes
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7298,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
7299,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7300,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
7301,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
7302,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_type_Personal Auto,policy_type_Special Auto,policy_Corporate L2,policy_Corporate L3,...,renew_offer_type_O3,renew_offer_type_O4,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,response_Yes
0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1822,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1823,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1824,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1825,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
X_train_treated = pd.concat([X_train_num_treated, X_train_cat_ord, X_train_cat_one_treated], axis=1)
X_test_treated = pd.concat([X_test_num_treated, X_test_cat_ord, X_test_cat_one_treated], axis=1)

display(X_train_treated)
display(X_test_treated)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month,day,coverage,...,renew_offer_type_O3,renew_offer_type_O4,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,response_Yes
0,0.307096,0.000000,0.199153,0.428571,0.171717,0.0,0.125,0.0,0.700000,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,0.021797,0.258249,0.088983,0.285714,0.696970,0.0,0.000,0.0,0.833333,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.115874,0.538022,0.228814,0.028571,0.080808,0.2,0.875,0.0,0.733333,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.054542,0.251388,0.025424,0.085714,0.000000,0.0,0.625,0.0,0.366667,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.086541,0.529301,0.135593,0.514286,0.959596,0.0,0.250,0.0,0.033333,0.5,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7298,0.123716,0.000000,0.296610,0.971429,0.616162,0.0,1.000,0.0,1.000000,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
7299,0.135192,0.000000,0.144068,0.028571,0.696970,0.0,0.125,1.0,0.200000,0.5,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7300,0.052925,0.398616,0.021186,0.171429,0.040404,0.0,0.750,1.0,0.533333,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
7301,0.203082,0.000000,0.330508,0.142857,0.565657,0.0,0.125,1.0,0.866667,0.5,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
7302,0.093283,0.795431,0.012712,0.057143,0.393939,0.0,0.125,0.0,0.633333,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month,day,coverage,...,renew_offer_type_O3,renew_offer_type_O4,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,response_Yes
0,0.116866,0.000000,0.088983,0.628571,0.626263,0.0,0.125,1.0,0.900000,0.5,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.075952,0.000000,0.144068,0.171429,1.000000,0.0,0.500,0.0,0.200000,0.5,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.097493,0.406427,0.173729,0.114286,0.454545,0.0,0.625,1.0,0.766667,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.124514,0.304358,0.105932,0.171429,0.777778,0.0,0.125,0.0,0.400000,0.5,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.073151,0.872266,0.084746,0.085714,0.262626,0.0,1.000,1.0,0.466667,0.5,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,0.009563,0.680539,0.012712,0.285714,0.474747,0.0,0.000,1.0,0.000000,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1822,0.178667,0.000000,0.292373,0.200000,0.313131,0.0,0.125,1.0,0.200000,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1823,0.161647,0.444364,0.182203,0.485714,0.616162,0.0,0.125,1.0,0.300000,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1824,0.239765,0.394185,0.661017,0.114286,0.292929,0.4,0.375,0.0,0.766667,0.5,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1825,0.047756,0.000000,0.050847,0.314286,0.565657,0.0,0.500,1.0,0.433333,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 5. Since the model will only accept numerical data, check and make sure that every column is numerical, if some are not, change it using encoding.

In [33]:
for col in X_train_treated.columns:
    print(f"'{col}': {X_train_treated[col].dtype}")

'customer_lifetime_value': float64
'income': float64
'monthly_premium_auto': float64
'months_since_last_claim': float64
'months_since_policy_inception': float64
'number_of_open_complaints': float64
'number_of_policies': float64
'month': float64
'day': float64
'coverage': float64
'employment_status': int64
'location_code': float64
'vehicle_size': float64
'education': float64
'state_California': float64
'state_Nevada': float64
'state_Oregon': float64
'state_Washington': float64
'marital_status_Married': float64
'marital_status_Single': float64
'policy_type_Personal Auto': float64
'policy_type_Special Auto': float64
'policy_Corporate L2': float64
'policy_Corporate L3': float64
'policy_Personal L1': float64
'policy_Personal L2': float64
'policy_Personal L3': float64
'policy_Special': float64
'renew_offer_type_O2': float64
'renew_offer_type_O3': float64
'renew_offer_type_O4': float64
'sales_channel_Branch': float64
'sales_channel_Call Center': float64
'sales_channel_Web': float64
'vehicle_class_Luxury': float64
'vehicle_class_SUV': float64
'vehicle_class_Sports Car': float64
'vehicle_class_Two-Door Car': float64
'response_Yes': float64

In [34]:
for col in X_test_treated.columns:
    print(f"'{col}': {X_test_treated[col].dtype}")

'customer_lifetime_value': float64
'income': float64
'monthly_premium_auto': float64
'months_since_last_claim': float64
'months_since_policy_inception': float64
'number_of_open_complaints': float64
'number_of_policies': float64
'month': float64
'day': float64
'coverage': float64
'employment_status': int64
'location_code': float64
'vehicle_size': float64
'education': float64
'state_California': float64
'state_Nevada': float64
'state_Oregon': float64
'state_Washington': float64
'marital_status_Married': float64
'marital_status_Single': float64
'policy_type_Personal Auto': float64
'policy_type_Special Auto': float64
'policy_Corporate L2': float64
'policy_Corporate L3': float64
'policy_Personal L1': float64
'policy_Personal L2': float64
'policy_Personal L3': float64
'policy_Special': float64
'renew_offer_type_O2': float64
'renew_offer_type_O3': float64
'renew_offer_type_O4': float64
'sales_channel_Branch': float64
'sales_channel_Call Center': float64
'sales_channel_Web': float64
'vehicle_class_Luxury': float64
'vehicle_class_SUV': float64
'vehicle_class_Sports Car': float64
'vehicle_class_Two-Door Car': float64
'response_Yes': float64

### 7. Great! Now define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.

So we have X_train_treated, X_test_treated, y_train and y_test.
The models we learnt are linear regression, logistic regression, and KNN Classifier. Our target is continuous, so we cannot apply logistic regression nor KNN Classifier, although we can use KNN Regressor. 


### 8. Use the function to check LinearRegressor and KNeighborsRegressor.

Info:

https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html

### 9. You can check also the MLPRegressor for this task!

Info:

https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPRegressor.html

### 10. Check and discuss the results.

In [44]:
lm = linear_model.LinearRegression()
lm.fit(X_train_treated,y_train)

predictions_lm = lm.predict(X_test_treated)
r2_score(y_test, predictions_lm)

0.35971622281341986

In [52]:
KNNR = KNeighborsRegressor()
KNNR.fit(X_train_treated,y_train)

predictions_KNNR = KNNR.predict(X_test_treated)
r2_score(y_test, predictions_KNNR)

0.2235301769187139

In [53]:
MLPR = MLPRegressor()
MLPR.fit(X_train_treated,y_train)

predictions_MLPR = MLPR.predict(X_test_treated)
r2_score(y_test, predictions_MLPR)

C:\Users\PC\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:684: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

0.297266760806035

In [57]:
def try_model (model, X_train, y_train, X_test, y_test):
    model.fit(X_train,y_train)
    predictions = model.predict(X_test)
    score = r2_score(y_test, predictions)
    return score

In [58]:
try_model(LinearRegression(), X_train_treated, y_train, X_test_treated, y_test)

0.35971622281341986

In [59]:
try_model(KNeighborsRegressor(), X_train_treated, y_train, X_test_treated, y_test)

0.2235301769187139

In [61]:
try_model(MLPRegressor(), X_train_treated, y_train, X_test_treated, y_test)

C:\Users\PC\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:684: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

0.31395643963211817

The best model is LinearRegression because it gives a higher result.